openapi: "3.1.0"
info:
  title: webhooks.cc API
  version: "1.0.0"
  description: |
    REST API for webhooks.cc: capture, inspect, and test webhooks and email.

    **Authentication:** Most endpoints require a Bearer token in the `Authorization` header.
    Use your API key (prefix `whcc_`) generated from the [account page](https://webhooks.cc/account).
    Public endpoints (`/api/stats`, `/api/health`) do not require authentication.

    **Webhook receiver:** Send webhooks to `https://go.webhooks.cc/w/{slug}`. They are captured
    and available via the API and dashboard in real time.

    **Email capture:** Every endpoint that belongs to an account also receives email at
    `{slug}@mailhooks.cc` (and `{slug}+tag@mailhooks.cc`). An email is stored as a request with
    `kind: "email"` and `method: "EMAIL"`. See [Email capture](https://webhooks.cc/docs/email-capture)
    and [Email forwarding](https://webhooks.cc/docs/forwarding).

    **Rate limits:** Rate-limited endpoints return `X-RateLimit-Limit`, `X-RateLimit-Remaining`,
    and `X-RateLimit-Reset` headers on every response. When the limit is exceeded, the API
    returns `429` with a `Retry-After` header.
  contact:
    name: webhooks.cc
    url: https://webhooks.cc/support
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://webhooks.cc
    description: Production

security:
  - BearerAuth: []

tags:
  - name: Endpoints
    description: Create, read, update, and delete webhook endpoints.
  - name: Requests
    description: List, inspect, and clear captured webhook requests and emails.
  - name: Forwarding
    description: Forward every email an endpoint captures to your own URL as JSON, signed with Standard Webhooks headers. Only the endpoint's owner can configure it.
  - name: Streaming
    description: Real-time Server-Sent Events stream of incoming webhooks.
  - name: Search
    description: Search retained requests across your endpoints and endpoints shared with you through teams.
  - name: Send
    description: Send test webhooks to your endpoints.
  - name: Usage
    description: Request quota and billing information.
  - name: Teams
    description: Team management and endpoint sharing. Any account can create a team; the team needs its own Teams subscription before it can invite members or share endpoints.
  - name: Invites
    description: Team invitation management.

paths:
  # -- Endpoints ---------------------------------------------------------------

  /api/endpoints:
    get:
      operationId: listEndpoints
      tags: [Endpoints]
      summary: List endpoints
      description: |
        Returns all endpoints owned by the authenticated user (`owned`, each with
        `sharedWith`), plus endpoints shared with them through a team that has an
        active Teams subscription (`shared`, each with `fromTeam`). Personal plans
        do not affect team access.
      responses:
        "200":
          description: Endpoint listing
          content:
            application/json:
              schema:
                type: object
                required: [owned, shared]
                properties:
                  owned:
                    type: array
                    items:
                      $ref: "#/components/schemas/Endpoint"
                  shared:
                    type: array
                    items:
                      $ref: "#/components/schemas/Endpoint"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createEndpoint
      tags: [Endpoints]
      summary: Create endpoint
      description: |
        Create a new webhook endpoint. Rate limited to 30 requests per 10 minutes.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEndpointRequest"
      responses:
        "200":
          description: Created endpoint
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/endpoints/{slug}:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: getEndpoint
      tags: [Endpoints]
      summary: Get endpoint
      description: |
        Returns a single endpoint by slug. Team members can access shared endpoints; for them
        `notificationUrl` and `forwardUrl` are left out.
      responses:
        "200":
          description: Endpoint details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    patch:
      operationId: updateEndpoint
      tags: [Endpoints]
      summary: Update endpoint
      description: |
        Update an endpoint. Only the fields you send change.
        Set `mockResponse` to `null` to clear the mock response.

        Team members can update `name`, `mockResponse`, `responseRules`, and `showEmailExtracts`
        on endpoints shared with them. Only the owner can change `notificationUrl`, the signing
        settings, `forwardEnabled`, and `forwardUrl`; anyone else who sends one gets `403`.

        **Forwarding:** `forwardEnabled: true` needs a `forwardUrl`, sent in the same request or
        saved before. Saving the first URL (or turning forwarding on) creates the endpoint's signing
        secret; read it with `GET /api/endpoints/{slug}/forwarding`. Send `forwardUrl: null` (or `""`)
        to remove the URL, which fails while forwarding is on. Turning forwarding off marks
        deliveries that are still waiting as failed. See [Email forwarding](https://webhooks.cc/docs/forwarding).
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEndpointRequest"
      responses:
        "200":
          description: Updated endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            A team member sent an owner-only field (notification, signing, or forwarding settings),
            or the API key belongs to an unclaimed agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          description: |
            Secrets cannot be encrypted on this server, so a signing secret or the first forwarding
            URL cannot be saved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      operationId: deleteEndpoint
      tags: [Endpoints]
      summary: Delete endpoint
      description: Deletes the endpoint and all its captured requests. Only the owner can delete.
      responses:
        "204":
          description: Endpoint deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/endpoints/claim:
    post:
      operationId: claimEndpoint
      tags: [Endpoints]
      summary: Claim guest endpoint
      description: Claim an ephemeral guest endpoint, associating it with your account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug:
                  type: string
                  description: Slug of the guest endpoint to claim
      responses:
        "200":
          description: Claimed endpoint
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Endpoint"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # -- Requests ----------------------------------------------------------------

  /api/endpoints/{slug}/requests:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: listRequests
      tags: [Requests]
      summary: List requests
      description: List captured requests for an endpoint, newest first.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
          description: Maximum number of requests to return
        - name: since
          in: query
          schema:
            type: integer
          description: Only return requests received after this Unix timestamp (ms)
      responses:
        "200":
          description: Array of captured requests
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Request"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: clearRequests
      tags: [Requests]
      summary: Clear requests
      description: |
        Delete captured requests for an endpoint without deleting the endpoint itself.
        Optionally pass `before` to only delete requests older than a timestamp.
      parameters:
        - name: before
          in: query
          schema:
            type: integer
          description: Only delete requests received before this Unix timestamp (ms)
      responses:
        "204":
          description: Requests cleared
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/endpoints/{slug}/requests/paginated:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: listRequestsPaginated
      tags: [Requests]
      summary: List requests (paginated)
      description: |
        Cursor-based paginated listing of captured requests. Pass the returned `cursor`
        to fetch the next page.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
          description: Maximum number of requests per page
        - name: cursor
          in: query
          schema:
            type: string
          description: Opaque cursor from a previous page
      responses:
        "200":
          description: Paginated request listing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedRequests"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/requests/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Request ID

    get:
      operationId: getRequest
      tags: [Requests]
      summary: Get request
      description: |
        Get a single captured request by ID. Captured emails are requests too: they have
        `kind: "email"` and the parsed message in `email`.
      responses:
        "200":
          description: Request details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Request"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # -- Forwarding --------------------------------------------------------------

  /api/endpoints/{slug}/forwarding:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: getForwardingSecret
      tags: [Forwarding]
      summary: Get forwarding secret
      description: |
        Returns the secret that signs the endpoint's forwarded emails, for verifying the
        `webhook-signature` header in your handler. The secret is created when the endpoint's
        first forwarding URL is saved. Owner only: anyone else gets `404`. The response is sent
        with `Cache-Control: no-store`.
      responses:
        "200":
          description: The forwarding secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingSecret"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Endpoint not found, not owned by you, or it has no forwarding secret yet
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: rotateForwardingSecret
      tags: [Forwarding]
      summary: Rotate forwarding secret
      description: |
        Replaces the forwarding secret with a new one and returns it. Every delivery sent from now
        on is signed with the new secret, including retries of deliveries still waiting, so update
        your handler right away. Owner only: anyone else gets `404`. The response is sent with
        `Cache-Control: no-store`.
      responses:
        "200":
          description: The new forwarding secret
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingSecret"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/endpoints/{slug}/forwarding/test:
    parameters:
      - $ref: "#/components/parameters/slug"

    post:
      operationId: testForwarding
      tags: [Forwarding]
      summary: Send test delivery
      description: |
        Posts the endpoint's newest email to the saved forwarding URL once, signed with the current
        secret, and returns what your server answered. When the endpoint has not received an email
        yet, a sample is sent instead, with `"test": true` in its JSON. Works whether forwarding is
        on or off. Nothing is queued, retried, or added to the delivery history. Owner only: anyone
        else gets `404`. Rate limited to 10 requests per minute.
      responses:
        "200":
          description: |
            What the forwarding URL answered. A non-2xx answer is still a `200` here, with
            `delivered: false`.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardTestResult"
        "400":
          description: No forwarding URL saved yet
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Endpoint not found or not owned by you
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/endpoints/{slug}/deliveries:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: listEndpointDeliveries
      tags: [Forwarding]
      summary: List recent deliveries
      description: |
        The endpoint's latest forwarded emails, newest first, each with the email's subject.
        Owner only: anyone else gets `404`.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
          description: Number of deliveries to return (clamped to 1 to 20)
      responses:
        "200":
          description: Recent deliveries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/RecentDelivery"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/requests/{id}/deliveries:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Request ID of a captured email

    get:
      operationId: listEmailDeliveries
      tags: [Forwarding]
      summary: List deliveries of an email
      description: |
        Every forwarded copy of one email, newest first (up to 20), each with its attempts.
        Anyone who can read the email can list them, including team members on a shared endpoint.
        A request that was never forwarded (any HTTP request, for one) returns an empty array.
      responses:
        "200":
          description: Deliveries of the email
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Delivery"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: redeliverEmail
      tags: [Forwarding]
      summary: Redeliver an email
      description: |
        Queues another delivery of the email. It is sent with the endpoint's current forwarding URL
        and secret, and retried on the usual schedule if it fails. Forwarding must be on.
        Owner only: anyone else gets `404`. Rate limited to 30 requests per minute.
      responses:
        "200":
          description: Delivery queued
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [id]
                properties:
                  id:
                    type: string
                    description: ID of the new delivery
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found, not an email, or the endpoint is not yours
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Forwarding is off for this endpoint
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  # -- Streaming ---------------------------------------------------------------

  /api/stream/{slug}:
    parameters:
      - $ref: "#/components/parameters/slug"

    get:
      operationId: streamRequests
      tags: [Streaming]
      summary: Stream requests (SSE)
      description: |
        Server-Sent Events stream of incoming webhook requests. Each captured request
        arrives as an `event: request` message with JSON data.

        The server sends keepalive pings (`:ping`) every 30 seconds. Maximum connection
        duration is 30 minutes; reconnect when the stream closes.

        Captured emails arrive as `request` events too, with `method: "EMAIL"` and the recipient
        address as `path`. Stream messages carry neither `kind` nor `email`; fetch the request by
        ID for the parsed message.

        **Event types:**
        - `connected`: stream established
        - `request`: captured webhook or email (JSON data matching the Request schema)
        - `keepalive`: connection keepalive
        - `timeout`: max duration reached, reconnect
        - `endpoint_deleted`: endpoint was deleted, stream closed
      parameters:
        - name: since
          in: query
          schema:
            type: integer
          description: Resume from this Unix timestamp (ms); returns requests received after this time
      responses:
        "200":
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  # -- Search ------------------------------------------------------------------

  /api/search/requests:
    get:
      operationId: searchRequests
      tags: [Search]
      summary: Search requests
      description: |
        Search retained requests across endpoints you own and endpoints shared
        with you through a subscribed team. Rows on shared endpoints are bounded
        by the owner's retention, not the caller's plan.
        Rate limited to 60 requests per 10 minutes.
      parameters:
        - name: slug
          in: query
          schema:
            type: string
          description: Filter by endpoint slug
        - name: method
          in: query
          schema:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS, EMAIL]
          description: Filter by HTTP method (`EMAIL` for captured emails)
        - name: kind
          in: query
          schema:
            type: string
            enum: [http, email]
          description: Only HTTP requests or only captured emails
        - name: q
          in: query
          schema:
            type: string
          description: Free-text search across path, body, and headers
        - name: from
          in: query
          schema:
            type: integer
          description: Start time as Unix timestamp (ms)
        - name: to
          in: query
          schema:
            type: integer
          description: End time as Unix timestamp (ms)
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
          description: Sort order by receivedAt
      responses:
        "200":
          description: Search results
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SearchResult"
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "403":
          description: Claimed account required (an unowned agent key is rejected)
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/search/requests/count:
    get:
      operationId: searchRequestsCount
      tags: [Search]
      summary: Count search results
      description: |
        Count retained requests matching search filters without returning them.
        Covers endpoints shared with you through a subscribed team. Rate limited to 120 requests per 10 minutes.
        Accepts the same query parameters as search (except `limit`, `offset`, `order`).
      parameters:
        - name: slug
          in: query
          schema:
            type: string
        - name: method
          in: query
          schema:
            type: string
            enum: [GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS, EMAIL]
        - name: kind
          in: query
          schema:
            type: string
            enum: [http, email]
        - name: q
          in: query
          schema:
            type: string
        - name: from
          in: query
          schema:
            type: integer
        - name: to
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: Match count
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [count]
                properties:
                  count:
                    type: integer
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "403":
          description: Claimed account required (an unowned agent key is rejected)
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  # -- Send --------------------------------------------------------------------

  /api/send-test:
    post:
      operationId: sendTestWebhook
      tags: [Send]
      summary: Send test webhook
      description: |
        Send a test webhook to one of your endpoints. The webhook is sent to the receiver
        and captured like any external webhook. Rate limited to 30 requests per minute.
        Maximum body size: 1MB.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug:
                  type: string
                  description: Target endpoint slug
                method:
                  type: string
                  default: POST
                  description: HTTP method
                path:
                  type: string
                  description: Optional sub-path appended to the endpoint URL
                headers:
                  type: object
                  additionalProperties:
                    type: string
                  description: HTTP headers to include
                body:
                  type: string
                  description: Request body
      responses:
        "200":
          description: Webhook sent
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    description: Status code returned by the receiver
                  statusText:
                    type: string
                    description: Status text returned by the receiver
                  body:
                    type: string
                    description: Response body from the receiver
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"
        "502":
          description: Upstream receiver unreachable
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/send-test-email:
    post:
      operationId: sendTestEmail
      tags: [Send]
      summary: Send test email
      description: |
        Deliver a sample email (with a one-time code and a link) to one of your endpoints, or one
        shared with you through a team. It is captured and counted like any other email, but it does
        not travel over SMTP, so no sender checks (SPF, DKIM, DMARC) run on it.
        Rate limited to 10 requests per minute.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug:
                  type: string
                  pattern: "^[A-Za-z0-9_-]{1,50}$"
                  description: Target endpoint slug
      responses:
        "200":
          description: Test email captured
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                type: object
                required: [status, requestId]
                properties:
                  status:
                    type: string
                    enum: [captured]
                  requestId:
                    type: ["string", "null"]
                    description: ID of the captured email
        "400":
          description: Invalid JSON or slug, or a guest endpoint (only endpoints on an account receive email)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: The endpoint's request quota is used up
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "410":
          description: The endpoint has expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: The test email could not be delivered; try again
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Test emails are not available on this server
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  # -- Usage -------------------------------------------------------------------

  /api/usage:
    get:
      operationId: getUsage
      tags: [Usage]
      summary: Get usage
      description: Returns current request quota and usage for the authenticated user.
      responses:
        "200":
          description: Usage information
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # -- Teams -------------------------------------------------------------------

  /api/teams:
    get:
      operationId: listTeams
      tags: [Teams]
      summary: List teams
      description: List all teams the authenticated user owns or is a member of.
      responses:
        "200":
          description: Array of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Team"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

    post:
      operationId: createTeam
      tags: [Teams]
      summary: Create team
      description: |
        Create a new team. Any account can create one; it is suspended until it has a Teams subscription.
        Rate limited to 10 requests per 10 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
                  description: Team display name
      responses:
        "200":
          description: Created team
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Team"
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/teams/{teamId}:
    parameters:
      - $ref: "#/components/parameters/teamId"

    patch:
      operationId: updateTeam
      tags: [Teams]
      summary: Update team
      description: Update the team name. Only the owner can update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  maxLength: 100
      responses:
        "200":
          description: Updated team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

    delete:
      operationId: deleteTeam
      tags: [Teams]
      summary: Delete team
      description: Delete a team. Only the owner can delete. All shares are removed.
      responses:
        "204":
          description: Team deleted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/teams/{teamId}/members:
    parameters:
      - $ref: "#/components/parameters/teamId"

    get:
      operationId: listTeamMembers
      tags: [Teams]
      summary: List team members
      description: List all members and pending invites for a team.
      responses:
        "200":
          description: Members and pending invites
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/TeamMember"
                  pendingInvites:
                    type: array
                    items:
                      $ref: "#/components/schemas/TeamInvite"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/teams/{teamId}/members/{userId}:
    parameters:
      - $ref: "#/components/parameters/teamId"
      - name: userId
        in: path
        required: true
        schema:
          type: string
        description: User ID to remove

    delete:
      operationId: removeTeamMember
      tags: [Teams]
      summary: Remove team member
      description: Remove a member from the team. Only the team owner can remove members.
      responses:
        "204":
          description: Member removed
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/teams/{teamId}/endpoints:
    parameters:
      - $ref: "#/components/parameters/teamId"

    post:
      operationId: shareEndpointWithTeam
      tags: [Teams]
      summary: Share endpoint with team
      description: |
        Share one of your endpoints with a team. Rate limited to 30 requests per 10 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [endpointId]
              properties:
                endpointId:
                  type: string
                  description: ID of the endpoint to share
      responses:
        "200":
          description: Endpoint shared
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/teams/{teamId}/endpoints/{endpointId}:
    parameters:
      - $ref: "#/components/parameters/teamId"
      - name: endpointId
        in: path
        required: true
        schema:
          type: string
        description: Endpoint ID to unshare

    delete:
      operationId: unshareEndpointFromTeam
      tags: [Teams]
      summary: Unshare endpoint from team
      description: Remove an endpoint from a team. The endpoint itself is not deleted.
      responses:
        "204":
          description: Endpoint unshared
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/teams/{teamId}/invite:
    parameters:
      - $ref: "#/components/parameters/teamId"

    post:
      operationId: createTeamInvite
      tags: [Teams]
      summary: Invite to team
      description: |
        Send an invitation to join a team by email.
        Rate limited to 20 requests per 10 minutes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Email address to invite
      responses:
        "200":
          description: Invite sent
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TeamInvite"
        "400":
          $ref: "#/components/responses/BadRequestRateLimited"
        "401":
          $ref: "#/components/responses/UnauthorizedRateLimited"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalErrorRateLimited"

  /api/teams/{teamId}/leave:
    parameters:
      - $ref: "#/components/parameters/teamId"

    post:
      operationId: leaveTeam
      tags: [Teams]
      summary: Leave team
      description: Leave a team. Only non-owner members can leave. Owners must delete the team.
      responses:
        "200":
          description: Left team
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  # -- Invites -----------------------------------------------------------------

  /api/invites:
    get:
      operationId: listInvites
      tags: [Invites]
      summary: List pending invites
      description: List all pending team invitations for the authenticated user.
      responses:
        "200":
          description: Array of pending invites
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TeamInvite"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/invites/{inviteId}/accept:
    parameters:
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
        description: Invite ID to accept

    post:
      operationId: acceptInvite
      tags: [Invites]
      summary: Accept invite
      description: Accept a pending team invitation.
      responses:
        "200":
          description: Invite accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /api/invites/{inviteId}/decline:
    parameters:
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
        description: Invite ID to decline

    post:
      operationId: declineInvite
      tags: [Invites]
      summary: Decline invite
      description: Decline a pending team invitation.
      responses:
        "200":
          description: Invite declined
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  # -- Public ------------------------------------------------------------------

  /api/stats:
    get:
      operationId: getStats
      tags: [Usage]
      summary: Get public stats
      description: Public aggregate statistics. No authentication required. Cached for 1 hour.
      security: []
      responses:
        "200":
          description: Aggregate stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_webhooks:
                    type: integer
                  total_endpoints:
                    type: integer
                  total_users:
                    type: integer

  /api/health:
    get:
      operationId: getHealth
      tags: [Usage]
      summary: Health check
      description: Check API and database health. No authentication required.
      security: []
      responses:
        "200":
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                  checks:
                    type: object
                    additionalProperties:
                      type: string
                      enum: [ok, error]
        "503":
          description: Service degraded
          content:
            application/json:
              schema:
                type: object
                required: [status]
                properties:
                  status:
                    type: string
                    enum: [degraded]
                  checks:
                    type: object
                    additionalProperties:
                      type: string
                      enum: [ok, error]

# -- Components ----------------------------------------------------------------

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: |
        API key with `whcc_` prefix. Generate from https://webhooks.cc/account.

  parameters:
    slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9_-]{1,50}$"
      description: Endpoint slug (URL-safe identifier)

    teamId:
      name: teamId
      in: path
      required: true
      schema:
        type: string
      description: Team ID

  headers:
    X-RateLimit-Limit:
      description: Maximum requests allowed in the current window
      schema:
        type: integer
    X-RateLimit-Remaining:
      description: Remaining requests in the current window
      schema:
        type: integer
    X-RateLimit-Reset:
      description: Unix timestamp (seconds) when the window resets
      schema:
        type: integer

  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: string
          description: Human-readable error message

    SuccessResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean

    Endpoint:
      type: object
      required: [id, slug, createdAt]
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        url:
          type: string
          description: Full webhook URL (e.g. https://go.webhooks.cc/w/{slug})
        mockResponse:
          $ref: "#/components/schemas/MockResponse"
        responseRules:
          type: array
          items:
            $ref: "#/components/schemas/ResponseRule"
          description: Ordered conditional response rules. First matching rule wins, then falls back to mockResponse.
        notificationUrl:
          type: string
          format: uri
          description: URL to POST a JSON summary to after each captured request (e.g. Slack/Discord webhook)
        isEphemeral:
          type: boolean
        expiresAt:
          type: integer
          description: Unix timestamp (ms) when the endpoint expires
        createdAt:
          type: integer
          description: Unix timestamp (ms)
        sharedWith:
          type: array
          items:
            $ref: "#/components/schemas/TeamShare"
          description: Teams this endpoint is shared with (present when you own it)
        fromTeam:
          $ref: "#/components/schemas/TeamShare"
          description: Oldest share among your teams (present when shared with you)
        fromTeams:
          type: array
          items:
            $ref: "#/components/schemas/TeamShare"
          description: Every subscribed team of yours this endpoint is shared with (present when shared with you)
        emailAddress:
          type: ["string", "null"]
          description: |
            Address that delivers email to this endpoint (`{slug}@mailhooks.cc`). Null for endpoints
            without an owner (guest endpoints), which receive no email.
        showEmailExtracts:
          type: boolean
          default: true
          description: |
            Whether the one-time codes and links found in emails are shown in the dashboard and
            included (as `codes` and `links`) in forwarded JSON
        forwardEnabled:
          type: boolean
          description: Whether every captured email is forwarded to `forwardUrl` as signed JSON
        forwardUrl:
          type: ["string", "null"]
          format: uri
          description: Where captured emails are forwarded. Only returned to the endpoint's owner.
        hasForwardSecret:
          type: boolean
          description: Whether a forwarding secret exists. The secret itself is never included.

    MockResponse:
      type: object
      required: [status, body, headers]
      properties:
        status:
          type: integer
          minimum: 100
          maximum: 599
          description: HTTP status code
        body:
          type: string
          description: Response body
        headers:
          type: object
          additionalProperties:
            type: string
          description: Response headers
        delay:
          type: integer
          minimum: 0
          maximum: 30000
          description: Response delay in milliseconds

    ResponseRuleCondition:
      type: object
      required: [field, op]
      properties:
        field:
          type: string
          enum: [method, path, header, body_contains, body_path, query]
          description: Request field to match against
        op:
          type: string
          enum: [eq, contains, starts_with, matches, exists]
          description: Comparison operator
        value:
          type: string
          maxLength: 4096
          description: Value to compare against (required unless op is "exists")
        name:
          type: string
          maxLength: 256
          description: Header name or query param name (required for header/query conditions)
        path:
          type: string
          maxLength: 256
          description: JSON dot-notation path (required for body_path conditions)

    ResponseRule:
      type: object
      required: [conditions, response]
      properties:
        id:
          type: string
          description: Stable identifier for UI reference
        name:
          type: string
          maxLength: 200
          description: Human-readable rule name
        enabled:
          type: boolean
          default: true
          description: Whether this rule is active
        logic:
          type: string
          enum: [and, or]
          default: and
          description: How to combine conditions ("and" = all must match, "or" = any must match)
        conditions:
          type: array
          items:
            $ref: "#/components/schemas/ResponseRuleCondition"
          minItems: 1
          maxItems: 10
          description: Conditions to evaluate (1-10)
        response:
          $ref: "#/components/schemas/MockResponse"
          description: Response to return when conditions match

    CreateEndpointRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
          description: Display name
        isEphemeral:
          type: boolean
          description: Whether the endpoint should auto-expire
        expiresAt:
          type: integer
          description: Unix timestamp (ms) for expiry (implies ephemeral)
        mockResponse:
          $ref: "#/components/schemas/MockResponse"
        responseRules:
          type: array
          items:
            $ref: "#/components/schemas/ResponseRule"
          maxItems: 50
          description: Ordered conditional response rules (first match wins, max 50)
        notificationUrl:
          type: string
          format: uri
          maxLength: 2048
          description: URL to POST a JSON summary to after each captured request

    UpdateEndpointRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 100
          description: New display name
        mockResponse:
          oneOf:
            - $ref: "#/components/schemas/MockResponse"
            - type: "null"
          description: Default mock response (used when no rule matches), or null to clear
        responseRules:
          oneOf:
            - type: array
              items:
                $ref: "#/components/schemas/ResponseRule"
              maxItems: 50
            - type: "null"
          description: Conditional response rules, or null to clear
        notificationUrl:
          oneOf:
            - type: string
              format: uri
              maxLength: 2048
            - type: "null"
          description: Notification webhook URL, or null to clear. Owner only.
        showEmailExtracts:
          type: boolean
          description: |
            Show the codes and links found in emails, and include them in forwarded JSON.
            Team members can change it too.
        forwardEnabled:
          type: boolean
          description: Forward every captured email to `forwardUrl`. Needs a URL. Owner only.
        forwardUrl:
          oneOf:
            - type: string
              format: uri
              maxLength: 2048
            - type: "null"
          description: |
            URL to forward captured emails to, or null (or `""`) to remove it. Must be `https` on a
            public host name: no IP addresses, `localhost`, credentials in the URL, or blocked
            ports (mail, database, and other internal services). Owner only.

    Request:
      type: object
      required: [id, endpointId, method, path, headers, queryParams, ip, size, receivedAt, kind]
      properties:
        id:
          type: string
        endpointId:
          type: string
        method:
          type: string
          description: HTTP method, or `EMAIL` for a captured email
        path:
          type: string
          description: Path after the slug, or the recipient address for a captured email
        headers:
          type: object
          additionalProperties:
            type: string
          description: |
            Request headers. For an email, the message headers, lowercase names, repeated headers
            joined with a newline.
        body:
          type: string
          description: |
            Request body. For an email, the original message, or only its headers when the message
            was over 1 MB.
        bodyRaw:
          type: string
          description: Base64 of the exact body bytes, present only when the body is not valid UTF-8
        queryParams:
          type: object
          additionalProperties:
            type: string
        contentType:
          type: string
          description: Content-Type of the request; `message/rfc822` for an email
        ip:
          type: string
          description: Client IP, or the sending mail server's IP for an email
        size:
          type: integer
        receivedAt:
          type: integer
          description: Unix timestamp (ms)
        kind:
          type: string
          enum: [http, email]
          description: "`email` for a captured email, `http` for everything else"
        email:
          oneOf:
            - $ref: "#/components/schemas/EmailCapture"
            - type: "null"
          description: The parsed message when `kind` is `email`, null otherwise

    EmailCapture:
      type: object
      description: |
        A captured email, parsed. Anything missing or malformed in the message is null or an empty
        list. Text and HTML parts are kept up to 256 KB each; attachment contents are not kept.
        See [Email capture](https://webhooks.cc/docs/email-capture).
      required:
        [
          subject,
          from,
          to,
          cc,
          replyTo,
          sender,
          date,
          messageId,
          inReplyTo,
          tag,
          text,
          html,
          textFromHtml,
          attachments,
          auth,
          smtp,
          parseError,
          truncated,
        ]
      properties:
        subject:
          type: ["string", "null"]
        from:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
        to:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
        cc:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
        replyTo:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
        sender:
          type: array
          items:
            $ref: "#/components/schemas/EmailAddress"
        date:
          type: ["string", "null"]
          format: date-time
          description: The message's Date header as RFC 3339, null when missing or invalid
        messageId:
          type: ["string", "null"]
        inReplyTo:
          type: array
          items:
            type: string
        tag:
          type: ["string", "null"]
          description: The `+tag` of the address the email was sent to, as the sender wrote it
        text:
          type: ["string", "null"]
          description: The text part
        html:
          type: ["string", "null"]
          description: The HTML part
        textFromHtml:
          type: boolean
          description: The message had no text part, so `text` was derived from the HTML
        attachments:
          type: array
          items:
            $ref: "#/components/schemas/EmailAttachment"
        auth:
          oneOf:
            - $ref: "#/components/schemas/EmailAuth"
            - type: "null"
          description: Sender checks run when the message arrived, null when there are none
        smtp:
          oneOf:
            - $ref: "#/components/schemas/EmailSmtp"
            - type: "null"
          description: The SMTP session the message arrived in
        parseError:
          type: boolean
          description: The message could not be parsed; the original is still in the request's `body`
        truncated:
          type: object
          required: [raw, text, html, headers, addresses, attachments]
          properties:
            raw:
              type: boolean
              description: The message was over 1 MB, so the request's `body` holds its headers only
            text:
              type: boolean
              description: The text part was cut at 256 KB
            html:
              type: boolean
              description: The HTML part was cut at 256 KB
            headers:
              type: boolean
              description: The header section was over 1 MB, so only its start was parsed and the body was skipped
            addresses:
              type: boolean
              description: An address list had more than 100 entries; the rest were dropped
            attachments:
              type: boolean
              description: The message had more than 100 attachments; only the first 100 are listed

    EmailAddress:
      type: object
      required: [name, address]
      properties:
        name:
          type: ["string", "null"]
        address:
          type: ["string", "null"]

    EmailAttachment:
      type: object
      required: [filename, contentType, size, contentId, inline]
      properties:
        filename:
          type: ["string", "null"]
        contentType:
          type: string
        size:
          type: integer
          description: Size in bytes. The contents are not kept.
        contentId:
          type: ["string", "null"]
          description: Content-ID, for images the HTML references with `cid:`
        inline:
          type: boolean

    EmailCheck:
      type: object
      required: [result, domain]
      properties:
        result:
          type: string
          description: Verdict such as `pass`, `fail`, `softfail`, `neutral`, `none`, `temperror`, `permerror`
        domain:
          type: ["string", "null"]

    EmailAuth:
      type: object
      required: [spf, dkim, dmarc, iprev, authenticationResults, error]
      properties:
        spf:
          oneOf:
            - $ref: "#/components/schemas/EmailCheck"
            - type: "null"
        dkim:
          type: array
          description: One result per DKIM signature
          items:
            allOf:
              - $ref: "#/components/schemas/EmailCheck"
              - type: object
                required: [selector]
                properties:
                  selector:
                    type: ["string", "null"]
        dmarc:
          oneOf:
            - allOf:
                - $ref: "#/components/schemas/EmailCheck"
                - type: object
                  required: [policy, reason]
                  properties:
                    policy:
                      type: ["string", "null"]
                    reason:
                      type: ["string", "null"]
            - type: "null"
        iprev:
          oneOf:
            - type: object
              required: [result, ptr]
              properties:
                result:
                  type: string
                ptr:
                  type: ["string", "null"]
                  description: Host name the sending server's IP address points to
            - type: "null"
          description: Reverse DNS check of the sending server
        authenticationResults:
          type: ["string", "null"]
          description: The Authentication-Results header written when the message arrived
        error:
          type: ["string", "null"]
          description: Set when the checks could not run (`unavailable`, `timeout`, `busy`, `failed`)

    EmailSmtp:
      type: object
      required: [clientIp, clientRdns, helo, tls, envelopeFrom, envelopeTo, size, test]
      properties:
        clientIp:
          type: ["string", "null"]
        clientRdns:
          type: ["string", "null"]
        helo:
          type: ["string", "null"]
        tls:
          oneOf:
            - type: object
              required: [version, cipher]
              properties:
                version:
                  type: ["string", "null"]
                cipher:
                  type: ["string", "null"]
            - type: "null"
          description: The encrypted connection, null when the message arrived without TLS
        envelopeFrom:
          type: ["string", "null"]
          description: The SMTP envelope sender (MAIL FROM)
        envelopeTo:
          type: array
          items:
            type: string
          description: The SMTP envelope recipients (RCPT TO) that reached this endpoint
        size:
          type: ["integer", "null"]
          description: Size of the whole message as received, in bytes
        test:
          type: boolean
          description: True only for the dashboard's "Send test email" sample

    ForwardingSecret:
      type: object
      required: [secret]
      properties:
        secret:
          type: string
          description: |
            `whsec_` followed by the base64 signing key. Verify `webhook-signature` with the key
            (the base64 after the prefix), as the Standard Webhooks libraries do.

    ForwardTestResult:
      type: object
      required: [status, durationMs, excerpt, error, delivered, sample]
      properties:
        status:
          type: ["integer", "null"]
          description: Status your server answered, null when no answer arrived
        durationMs:
          type: integer
        excerpt:
          type: ["string", "null"]
          description: The start of your server's response body (up to 1 KB)
        error:
          type: ["string", "null"]
          description: Why no answer arrived (timeout, refused connection, TLS problem, blocked URL), null when one did
        delivered:
          type: boolean
          description: True when your server answered with a 2xx status
        sample:
          type: boolean
          description: True when the endpoint had no email yet, so a sample was sent

    Delivery:
      type: object
      description: One forwarded copy of an email
      required:
        [
          id,
          requestId,
          status,
          attempts,
          createdAt,
          finishedAt,
          nextAttemptAt,
          lastStatus,
          lastError,
          attemptLog,
        ]
      properties:
        id:
          type: string
        requestId:
          type: string
        status:
          type: string
          enum: [pending, succeeded, failed]
        attempts:
          type: integer
          description: Tries made so far
        createdAt:
          type: integer
          description: Unix timestamp (ms) when the delivery was queued
        finishedAt:
          type: ["integer", "null"]
          description: Unix timestamp (ms) when it succeeded or failed for good, null while pending
        nextAttemptAt:
          type: ["integer", "null"]
          description: Unix timestamp (ms) of the next try, for pending deliveries only
        lastStatus:
          type: ["integer", "null"]
          description: Status your server answered on the last try
        lastError:
          type: ["string", "null"]
          description: Why the last try failed, null after a success
        attemptLog:
          type: array
          description: Every try, newest first
          items:
            $ref: "#/components/schemas/DeliveryAttempt"

    DeliveryAttempt:
      type: object
      required: [attemptedAt, status, durationMs, error, responseExcerpt]
      properties:
        attemptedAt:
          type: integer
          description: Unix timestamp (ms)
        status:
          type: ["integer", "null"]
          description: Status your server answered, null when no answer arrived
        durationMs:
          type: integer
        error:
          type: ["string", "null"]
          description: Why the try failed (including a non-2xx answer), null when it succeeded
        responseExcerpt:
          type: ["string", "null"]
          description: The start of your server's response body (up to 1 KB)

    RecentDelivery:
      type: object
      required: [id, requestId, status, attempts, createdAt, lastStatus, lastError, subject]
      properties:
        id:
          type: string
        requestId:
          type: string
        status:
          type: string
          enum: [pending, succeeded, failed]
        attempts:
          type: integer
        createdAt:
          type: integer
          description: Unix timestamp (ms) when the delivery was queued
        lastStatus:
          type: ["integer", "null"]
        lastError:
          type: ["string", "null"]
        subject:
          type: ["string", "null"]
          description: Subject of the forwarded email

    SearchResult:
      type: object
      required: [id, slug, method, path, headers, queryParams, ip, size, receivedAt]
      properties:
        id:
          type: string
          description: Synthetic ID (not compatible with requests.get/replay)
        slug:
          type: string
        method:
          type: string
        path:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        body:
          type: string
        queryParams:
          type: object
          additionalProperties:
            type: string
        contentType:
          type: string
        ip:
          type: string
        size:
          type: integer
        receivedAt:
          type: integer
        bodyRaw:
          type: string
          description: Base64 of the exact body bytes, present only when the body is not valid UTF-8
        kind:
          type: string
          enum: [http, email]
          description: "`email` for a captured email, `http` for everything else"
        email:
          oneOf:
            - $ref: "#/components/schemas/EmailCapture"
            - type: "null"
          description: The parsed message when `kind` is `email`, null otherwise

    PaginatedRequests:
      type: object
      required: [items, hasMore]
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Request"
        cursor:
          type: string
          description: Opaque cursor for the next page
        hasMore:
          type: boolean
          description: Whether another page is available

    UsageInfo:
      type: object
      required: [used, limit, remaining, plan, periodEnd]
      properties:
        used:
          type: integer
        limit:
          type: integer
        remaining:
          type: integer
        plan:
          type: string
          enum: [free, pro]
        periodEnd:
          type: ["integer", "null"]
          description: Unix timestamp (ms) for billing period end, null if period not started

    TeamShare:
      type: object
      required: [teamId, teamName]
      properties:
        teamId:
          type: string
        teamName:
          type: string

    Team:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [owner, member]
        memberCount:
          type: integer
        createdAt:
          type: integer

    TeamMember:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [owner, member]
        joinedAt:
          type: integer

    TeamInvite:
      type: object
      properties:
        id:
          type: string
        teamId:
          type: string
        teamName:
          type: string
        invitedEmail:
          type: string
          description: Email address of the invited user
        invitedBy:
          type: string
          description: User ID of the person who sent the invite
        inviterEmail:
          type: string
          description: Email address of the person who sent the invite
        status:
          type: string
          enum: [pending, accepted, declined]
        createdAt:
          type: integer

  responses:
    BadRequest:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Unauthorized:
      description: Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Seconds until the rate limit window resets
          schema:
            type: integer
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InternalError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    # Rate-limit-aware error responses (for rate-limited operations)
    BadRequestRateLimited:
      description: Validation error
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    UnauthorizedRateLimited:
      description: Invalid or missing API key
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InternalErrorRateLimited:
      description: Server error
      headers:
        X-RateLimit-Limit:
          $ref: "#/components/headers/X-RateLimit-Limit"
        X-RateLimit-Remaining:
          $ref: "#/components/headers/X-RateLimit-Remaining"
        X-RateLimit-Reset:
          $ref: "#/components/headers/X-RateLimit-Reset"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
